.star-border-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.border-gradient-bottom,
.border-gradient-top {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  filter: blur(4px);
  opacity: 0.8;
}

.border-gradient-bottom {
  bottom: 0;
  left: 0;
  animation: moveAlongBorderBottom linear infinite;
}

.border-gradient-top {
  top: 0;
  left: 0;
  animation: moveAlongBorderTop linear infinite;
}

.inner-content {
  position: relative;
  z-index: 1;
}

@keyframes moveAlongBorderBottom {
  0% {
    left: 0;
    bottom: 0;
  }
  25% {
    left: 100%;
    bottom: 0;
  }
  50% {
    left: 100%;
    bottom: 100%;
  }
  75% {
    left: 0;
    bottom: 100%;
  }
  100% {
    left: 0;
    bottom: 0;
  }
}

@keyframes moveAlongBorderTop {
  0% {
    left: 50%;
    top: 0;
  }
  25% {
    left: 100%;
    top: 0;
  }
  50% {
    left: 100%;
    top: 100%;
  }
  75% {
    left: 0;
    top: 100%;
  }
  100% {
    left: 0;
    top: 0;
  }
  100% {
    left: 50%;
    top: 0;
  }
}
