.star-border-container {
  position: relative;
  display: block;
  width: 100%;
}

.border-gradient-bottom,
.border-gradient-top {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  filter: blur(2px);
  opacity: 1;
  z-index: 10;
  pointer-events: none;
}

.border-gradient-bottom {
  animation: moveAlongBorderBottom linear infinite;
}

.border-gradient-top {
  animation: moveAlongBorderTop linear infinite;
}

.inner-content {
  position: relative;
  z-index: 1;
}

@keyframes moveAlongBorderBottom {
  0% {
    left: -6px;
    top: -6px;
  }
  25% {
    left: calc(100% - 6px);
    top: -6px;
  }
  50% {
    left: calc(100% - 6px);
    top: calc(100% - 6px);
  }
  75% {
    left: -6px;
    top: calc(100% - 6px);
  }
  100% {
    left: -6px;
    top: -6px;
  }
}

@keyframes moveAlongBorderTop {
  0% {
    left: calc(50% - 6px);
    top: -6px;
  }
  25% {
    left: calc(100% - 6px);
    top: -6px;
  }
  50% {
    left: calc(100% - 6px);
    top: calc(100% - 6px);
  }
  75% {
    left: -6px;
    top: calc(100% - 6px);
  }
  100% {
    left: -6px;
    top: -6px;
  }
}
